* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e3c39d;
    font-family: 'Arial', sans-serif;
}

.container {
    width: 80%;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 10px auto;
}

.box {
    background: lightblue;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    border: solid 2px;
    margin-top: 20px;
    padding: 10px;
    width: 22%;
    height: 230px;
    min-width: 200px; 
}

.upper-box, .middle-box {
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap; 
}

.middle-box .box {
    height: 230px;
}

.upper-box p, .middle-box p {
    margin-top: 15px;
}

header {
    width: 100%;
    height: 15%;
    padding: 2.5rem 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4c2b08;
}

h2 {
    font-size: 2rem;
    color: white;
}

h3 {
    font-size: 3rem;
    font-weight: 600;
    color: white;
}

.coffee img {
    width: 150px;
    height: 90px;
    margin-left: 50px;
}

i {
    font-size: 24px;
    color: black;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    .box {
        width: 30%;
        height: auto;
    }
}



@media (max-width: 1080px) {
    .box {
        width: 45%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .upper-box, .middle-box {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 80%;
        height: auto;
    }
}

@media (max-width: 576px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    h2, h3 {
        font-size: 1.5rem;
    }

    .box {
        width: 90%;
        height: auto;
    }
}