* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #4c2b08;
  color: #fff;
  overflow-y: auto;
 
}

span {
  color: #fff;
}

h1 {
  margin-top: -17px;
  font-weight: 2rem;
  color: black;
  font-size: 3rem;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  height: 20px;
  left: 0;
  padding: 2.5rem 2%;
  padding-left: 2.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: #4c2b08;
  
}

nav {
  margin: 0 auto;
  margin-right: 70px;

}

nav a {
  text-decoration: none;
  font-size: 1.5rem;
  margin-left: 2rem;
  font-weight: 33rem;
  transition: 0.3s ease;
  color: #fff;
  
  
}

.coffee-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
  margin-top: 90px;
  background-color: #e3c39d;
}

.coffee-item {
  text-align: center;
}

.coffee-item img {
  width: 230px;
  height: 200px;
  margin: 0 auto;
}

.coffee-name {
  font-family: "Great Vibes", cursive;
  font-size: 2rem;
  margin-top: 0.5rem;
  color: #000000;
}


@media (max-width: 1250px){
  .coffee-item img {
    width: 230px;
    height: 180px;
    margin-top: 10px;
  }

  header{
    height: 30px;
  }
}

@media (max-width: 1080px) {
  .coffee-grid {
      grid-template-columns: repeat(3, 1fr);
  }
  .coffee-item img {
    width: 230px;
    height: 200px;
    margin-top: 15px;
    
  }
  header{
    height: 30px;
  }

}

@media (max-width: 823px) {
  .coffee-grid {
      grid-template-columns: repeat(3, 1fr);
  }
  .coffee-item img {
    width: 200px;
    height: 170px;
    margin-top: 15px;
    
  }
  header{
    height: 20px;
  }

}



@media (max-width: 768px) {
  .coffee-grid {
      grid-template-columns: repeat(2, 1fr);
  }

  nav a {
      font-size: 1.5rem;
      margin-left: 1rem;
  }

  .coffee-item img {
    width: 210px;
    height: 150px;
    margin-top: 7px;
    
  }
}

@media (max-width: 512px) {
  .coffee-grid {
    margin-top: 120px; 
   grid-template-columns: 1fr;
 }
  header {
      flex-direction: column;
      align-items: flex-start;
       padding: 1.5rem 2%;
       height: 70px;
  }
  .coffee-grid {
    margin-top: 120px; 
   
 }

 .coffee-item img {
  width: 270px;
  height: 180px;
  margin-top: -7px;
  
}

  h1{
     margin-left: 10rem;
    
  }

  nav {
      margin: 0;
      margin-top: 1rem;
      
      
    
  }

  nav a {
      font-size: 1.3rem;
      margin-left: 4rem;
      margin-top: 1rem;
      
  }
  header {
    padding: 1.5rem 2%;
    padding-left: 2.5%;
}
}



@media (max-width: 480px){
   h1{
    margin-left: 9rem;
   }
   .coffee-item img {
    width: 260px;
    height: 170px;
    margin: 0 auto;
    margin-top: -7px;
  }
   

  nav a{
    margin-left: 2.5rem;
    margin-top: -15px;
    font-size: 1.3rem;
  }

  header{
    height: 70px;
  }
}

@media (max-width: 405px){
  header{
    height: 10vh;
  }
  nav a{
   
    font-size: 1.1rem;
  }
  h1{
    
   margin-left: 5.5rem;
  }

}

@media (max-width: 312px){

  .coffee-item img {
    width: 195px;
    height: 200px;
    margin: 0 auto;
  }
  h1{
    font-size: 2.5rem;
   margin-left: 1.5rem;
  }

 nav a{

   margin-left: 2rem;
   margin-top: -15px;
   
 }

 header{
  height: 70px;
 }
}

@media (max-width: 245px){
  h1{
   margin-left: 2.5rem;
  } 

 nav a{
   margin-left: 3rem;
   margin-top: 2rem;
   font-size: 1.1rem;
 }

 header{
  height: 10vh;
 }

 .coffee-grid{
  margin-top: 130px;
 }
}

@media (max-width: 230px){
  nav a{
    font-size: 1.1rem;
  }
  header{
    height: 10vh;
  }
}

