*{
    margin: 0px;
    padding: 0px;

}

body{
    background-color: #4C2B08;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 2.5rem 2%;
    padding-left: 2.5%;
    display: flex;
    justify-content: space-between;
    background: #4C2B08;
    backdrop-filter: blur(10px);
   
    z-index: 100;
}

.wrapper{
      display: flex;
      margin: 3vw;
      margin: 0 auto;
      height: 520px;
      background-color: #E3C39D;
      align-items: center;
      justify-content: center;
      gap: 20vw;
}

.left img{
    
    margin-left: 140px;
    margin-top: -50px;
    width: 50%;
}


.right p{
    
    font-size: 20px;
    margin-top: 210px;
}

p{
   margin-left: -73%;

}

h2{
   margin-left: 80%;
   margin-top: 150px;
   width: 30%;
   font-size: 35px; 
   min-height: auto; 
}

h1{
    font-weight: 200;
    font-size: 45px;
    margin-top: -20px;
}

span{
    color: #fff;
}

nav{
    margin: 0 auto;
    margin-right: 70px;
   
}

nav a{
    text-decoration: none;
    font-size: 1.3rem;
    margin-left: 2rem;
    font-weight: 200;
    transition: 0.3 ease;
    color: #fff;
    font-weight: 650;
    padding-top: 50px; 
}

.button .btn{
    width: 120px;
    height: 40px;
    margin-top: 30px;
    background-color: #404040;
    color: whitesmoke;
    border-radius: 10px;
    margin-left: -385px;
  

}

nav ul{

    margin-top: 10px;
    margin-left: 120px;
    font-size: 1.3rem;
    font-weight: 200;
    margin: 0 auto;
    transition: 0.3 ease;
    font-weight: 650;
    gap: 20px;

}



nav b{
    color: #fff;
    margin-right: 10px;
}

nav d{
    color:  #964B00;
    margin-left: 10px;

}



